
:root{
    --darkblack:#0b0c0b;
    --darkgreen:#057a2c;
    --white :#fff;
    --lightgreen:#0be07dcc;
    --lightbluey:#1de00bcc;
    --lightlemon:#48e00bcc;
    --armygreen:#084602cc;
    
}

.main{
    background-color: var(--darkgreen);
}

body {
  background-color: var(--darkgreen);
}

.box {
  background-color: white;
  margin: 20px;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--darkgreen);


}



.main-content {
    justify-self: start;
    margin-left: 20px;
    color: var(--white);
    width: 80%;
}

.main-content h1 {
    font-size: 1rem;
}

.main-content p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.main-btn {
    font-size: 1rem;
    background-color: var(--darkblack);
    padding: 8px 20px;
    border-radius: 4px;
    color: var(--white);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main-btn a{
    position: relative;
    z-index: 0;
    color:var(--white);
    text-decoration: none;
}

.main-btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    border-radius: 4px;
    background: var(--lightbluey);
}

.main-btn:hover {
    color: var(--white);
}

.main-btn:hover:after {
    width: 100%;
}

#main-img {
    height: 90%;
    width: 90%;
}
/*mobile responsive*/
@media  screen and (max-width:768px) {
    .main-container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        background-color: var(--darkgreen);
    }

    .main-content {
        justify-self: center;
        color: var(--white);
        width: 80%;
        margin: 0;
    }

    .main-content h1{
        font-size: 2.5rem;
    }

    .main-content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main-img {
        display: none;
    }

}

@media screen and (max-widt:480px) {
    .main-content {
        text-align: center;
    }

    .main-content h1 {
        font-size: 2.8rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin-top: 2.5rem;
    }
    
}